[data-edytor] * {
  /* @apply transition-all; */
}
[data-edytor] {
  @apply mx-auto md:px-16 px-10 mt-10 transition-all;
  text-align: left;
  outline: none;
  white-space: pre-wrap;
  word-wrap: break-word;
}
/* [data-edytor][data-font="mono"] * {
  @apply font-mono;
}

[data-edytor][data-font="serif"] * :not(.font-mono) {
  @apply font-serif;
}
[data-edytor][data-font="sans"] * {
  @apply font-sans;
} */

[data-edytor][data-full-width="false"] {
  @apply max-w-5xl;
}
[data-edytor][data-full-width="true"] {
  @apply max-w-full  md:px-16 px-2;
}

h1 {
  @apply text-5xl font-extrabold leading-normal  pt-5 pb-5 relative;
}
h2 {
  @apply text-4xl font-extrabold leading-normal  pt-5 pb-5 relative;
}
h3 {
  @apply text-3xl font-extrabold leading-normal   pt-5 pb-5 relative;
}
h4 {
  @apply text-2xl font-bold  leading-normal  pt-5 pb-5 relative;
}
h5 {
  @apply text-xl font-bold   leading-normal  pt-5 pb-5 relative;
}
h6 {
  @apply text-base font-bold  leading-normal  pt-5 pb-5 relative;
}

p {
  @apply text-base font-normal leading-relaxed mt-0 mb-0 relative pt-3 pb-3;
}

blockquote {
  @apply border-l-2 text-gray-700 border-gray-400 pl-4 mt-0 mb-0 relative  pt-3 pb-3;
}

[data-edytor][data-small-text="true"] h1 {
  @apply text-3xl;
}
[data-edytor][data-small-text="true"] h2 {
  @apply text-2xl;
}
[data-edytor][data-small-text="true"] h3 {
  @apply text-xl;
}
[data-edytor][data-small-text="true"] h4 {
  @apply text-lg;
}
[data-edytor][data-small-text="true"] h5 {
  @apply text-base;
}
[data-edytor][data-small-text="true"] h6 {
  @apply text-sm;
}
[data-edytor][data-small-text="true"] p {
  @apply text-sm;
}
[data-edytor][data-small-text="true"] blockquote {
  @apply text-sm;
}

[data-edytor] mark.red {
  @apply bg-red-100 text-red-400;
}

[data-edytor] mark.blue {
  @apply bg-blue-100 text-blue-400;
}
[data-edytor] mark.purple {
  @apply bg-purple-100 text-purple-400;
}
[data-edytor] mark.yellow {
  @apply bg-yellow-100 text-yellow-400;
}

[data-edytor-block] > [data-edytor-block] {
  padding-left: 20px;
}
[data-edytor] > [data-edytor-children] {
  padding-left: 0px;
}

#dndIndicator {
  position: absolute;
  height: 2px;
  border-radius: 10px;

  opacity: 0;

  transition: all 20ms ease-in;
}
[data-edytor-block] {
  position: relative;
}
[data-edytor-handle] {
  opacity: 0;
  transition: all 100ms ease-in;
  cursor: grab;
  left: -30px;
  top: 10px;
  padding: 10px;
  position: absolute;
}
*:hover > [data-edytor-handle] {
  opacity: 1;
}
[data-edytor-handle]:active {
  cursor: grabbing;
}
