[data-edytor] * {
  /* @apply transition-all; */
}
[data-edytor] {
  @apply px-10 mx-auto mt-10 transition-all md:px-16;
  text-align: left;
  outline: none;
  white-space: pre-wrap;
  word-wrap: break-word;
}
/* [data-edytor][data-font="mono"] * {
  @apply font-mono;
}

[data-edytor][data-font="serif"] * :not(.font-mono) {
  @apply font-serif;
}
[data-edytor][data-font="sans"] * {
  @apply font-sans;
} */

[data-edytor][data-full-width="false"] {
  @apply max-w-5xl;
}
[data-edytor][data-full-width="true"] {
  @apply max-w-full px-2 md:px-16;
}

h1 {
  @apply relative pt-5 pb-5 text-5xl font-extrabold leading-normal;
}
h2 {
  @apply relative pt-5 pb-5 text-4xl font-extrabold leading-normal;
}
h3 {
  @apply relative pt-5 pb-5 text-3xl font-extrabold leading-normal;
}
h4 {
  @apply relative pt-5 pb-5 text-2xl font-bold leading-normal;
}
h5 {
  @apply relative pt-5 pb-5 text-xl font-bold leading-normal;
}
h6 {
  @apply relative pt-5 pb-5 text-base font-bold leading-normal;
}

p {
  @apply relative pt-3 pb-3 mt-0 mb-0 text-base font-normal leading-relaxed;
}

blockquote {
  @apply relative pt-3 pb-3 pl-4 mt-0 mb-0 text-gray-700 border-l-2 border-gray-400;
}

[data-edytor][data-small-text="true"] h1 {
  @apply text-3xl;
}
[data-edytor][data-small-text="true"] h2 {
  @apply text-2xl;
}
[data-edytor][data-small-text="true"] h3 {
  @apply text-xl;
}
[data-edytor][data-small-text="true"] h4 {
  @apply text-lg;
}
[data-edytor][data-small-text="true"] h5 {
  @apply text-base;
}
[data-edytor][data-small-text="true"] h6 {
  @apply text-sm;
}
[data-edytor][data-small-text="true"] p {
  @apply text-sm;
}
[data-edytor][data-small-text="true"] blockquote {
  @apply text-sm;
}

[data-edytor] mark.red {
  @apply text-red-400 bg-red-100;
}

[data-edytor] mark.blue {
  @apply text-blue-400 bg-blue-100;
}
[data-edytor] mark.purple {
  @apply text-purple-400 bg-purple-100;
}
[data-edytor] mark.yellow {
  @apply text-yellow-400 bg-yellow-100;
}

[data-edytor-block] > [data-edytor-block] {
  padding-left: 20px;
}
[data-edytor] > [data-edytor-children] {
  padding-left: 0px;
}

#dndIndicator {
  position: absolute;
  height: 10px;
  border-radius: 10px;
  opacity: 0;
  transition: all 20ms ease-in;
}
[data-edytor-block] {
  position: relative;
}
[data-edytor-handle] {
  opacity: 0;
  transition: all 100ms ease-in;
  cursor: grab;
  left: -30px;
  top: 10px;
  padding: 10px;
  position: absolute;
}
*:hover > [data-edytor-handle] {
  opacity: 1;
}
[data-edytor-handle]:active {
  cursor: grabbing;
}
[data-edytor-focused="true"] {
  @apply bg-gray-100 rounded-sm;
}
